.tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 2px #199123, 0 0 0 6px rgba(0, 0, 0, 0.6);
  z-index: 600;
  padding: 5px;
  color: #fff;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  max-width: fit-content;
  border-radius: 4px;
}
